
.ui-timepicker-trigger{
    background: none;
    border: none;
    font-size:($font-size-primary * 2.4); 
    color:$black-lighter;
    position: absolute;
    right: 7px;
    top: 9px;
}

.ui-timepicker {
	width: 17em;
	padding: .2em .2em 0;

	.ui-timepicker-header {
		position: relative;
		padding: .2em 0;
	}

	.ui-timepicker-prev,
	.ui-timepicker-next {
		position: absolute;
		top: 2px;
		width: 1.8em;
		height: 1.8em;
		span,
		span {
			display: block;
			position: absolute;
			left: 50%;
			margin-left: -8px;
			top: 50%;
			margin-top: -8px;
		}
	}
	.ui-timepicker-prev-hover,
	.ui-timepicker-next-hover {
		top: 2px;
    }
    .ui-timepicker-prev {
		left: 2px;
	}
	.ui-timepicker-next {
		right: 2px;
	}
	.ui-timepicker-prev-hover {
		left: 2px;
	}
	.ui-timepicker-next-hover {
		right: 2px;
	}
	.ui-timepicker-title {
		margin: 0;
		line-height: 1.8em;
		text-align: center;
		color: $ui-color;
	}
	.ui-timepicker-title select {
		font-size:($font-size-primary * 1.4); 
		margin: 1px 0;
	}
	select.ui-timepicker-month,
	select.ui-timepicker-year {
		width: 45%;
	}

	table {
		width: 100%;
		font-size:($font-size-primary * 1.3); 
		border-collapse: collapse;
		margin: 0 0 .4em;
	}
	th {
		padding: .7em .3em;
		text-align: center;
		font-weight: bold;
		border: 0;
	}
	td {
		border: 0;
		padding: 1px;
		span,
		a {
			display: block;
			padding: .2em;
			text-align: right;
			text-decoration: none;
		}
	}
	.ui-timepicker-buttonpane {
		background-image: none;
		margin: .7em 0 0 0;
		padding: 0 .2em;
		border-left: 0;
		border-right: 0;
		border-bottom: 0;

		button {
			float: right;
			margin: .5em .2em .4em;
			cursor: pointer;
			padding: .2em .6em .3em .6em;
			width: auto;
			overflow: visible;
			&.ui-timepicker-current {
				float: left;
			}
		}
    }
    
    /* with multiple calendars */
	.ui-timepicker-multi {
		width: auto;
		.ui-timepicker-group {
			float: left;
		}
		.ui-timepicker-group table {
			width: 95%;
			margin: 0 auto .4em;
		}
		.ui-timepicker-group-last .ui-timepicker-header,
		.ui-timepicker-group-middle .ui-timepicker-header {
			border-left-width: 0;
		}
		.ui-timepicker-buttonpane {
			clear: left;
		}
    }
    


    
.ui-timepicker-multi-2 .ui-timepicker-group {
	width: 50%;
}
.ui-timepicker-multi-3 .ui-timepicker-group {
	width: 33.3%;
}
.ui-timepicker-multi-4 .ui-timepicker-group {
	width: 25%;
}

.ui-timepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-timepicker-rtl {
	direction: rtl;
	.ui-timepicker-prev {
		right: 2px;
		left: auto;
	}
	.ui-timepicker-next {
		left: 2px;
		right: auto;
	}
	.ui-timepicker-prev:hover {
		right: 1px;
		left: auto;
	}
	.ui-timepicker-next:hover {
		left: 1px;
		right: auto;
	}
	.ui-timepicker-buttonpane {
		clear: right;
	}
	.ui-timepicker-buttonpane button {
		float: left;
	}
	.ui-timepicker-buttonpane button.ui-timepicker-current,
	.ui-timepicker-group {
		float: right;
	}
	.ui-timepicker-group-last .ui-timepicker-header,
	.ui-timepicker-group-middle .ui-timepicker-header {
		border-right-width: 0;
		border-left-width: 1px;
	}

    }
}