//
// Countdown
// ****************************
.countdown-big-text{
    display: block;
    font-size: $countdown-font-size;
    color: $countdown-color;
}
.countdown-small-text{
    display: block;
    font-size: $countdown-small-size;
    color: $countdown-small-color;
}



