// Pagination 
// *****************************
.pagination {
  @include pagination-size($padding-primary-vertical, $padding-primary-horizontal, $font-size, $line-height-primary, $padinationborder-radius);
  display: block;
  padding: 0;
  margin: 0 0 $margin-primary;
  border-radius: $padinationborder-radius;

  > li {
    > a,
    > span {
      position: relative;
      text-decoration: none;
      color: $pagination-color;
      background-color: $pagination-bg;
      border: 1px solid $pagination-border;
      margin: 0;
      display: block;
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;

      }
    }
  }

  > li > a,
  > li > span {
    &:hover {
      z-index: 2;
      color: $pagination-hover-color;
      background-color: $pagination-hover-bg;
      border-color: $pagination-hover-border;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 3;
      color: $pagination-hover-color;
      background-color: $pagination-hover-bg;
      border-color: $pagination-hover-border;
      cursor: default;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: $pagination-disabled-color;
      background-color: $pagination-disabled-bg;
      border-color: $pagination-disabled-border;
      cursor: $cursor-disabled;
    } 
  }
}

// Sizing
// --------------------------------------------------

// Large
.pagination-la {
  @include pagination-size($padding-la-vertical, $padding-la-horizontal, $font-size-la, $line-height-la, $border-radius-la);
}

// Small
.pagination-sm {
  @include pagination-size($padding-sm-vertical, $padding-sm-horizontal, $font-size-sm, $line-height-sm, $border-radius-sm);
}
